mat-toolbar {
    background-color: #1E3A8A; // azul escuro
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        margin-left: 16px;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
            color: #93C5FD; // azul mais claro no hover
        }
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 8px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        display: block;
        width: 100%;
    }
}